#star-bg {
  background: rgba(0,0,0,0.54);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.star {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  transition: all 1s ease-out;
}

// BUG: complex selectors can be simplified.
.star:nth-child(3n) {
  background: rgba(240, 229, 238, 1);
}
.star:nth-child(3n + 1) {
  background: rgba(45, 0, 157, 1);
}
.star:nth-child(3n + 2) {
  background: rgba(212, 0, 94, 0.5);
}